* {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
  }
  .header {
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background: url(img3/img1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: sans-serif;
  }
  
  .backclr {
    width: 100%;
    height: 600px;

    background-color: rgba(0, 0, 0, 0.584);
    opacity: 0.7;
    z-index: 1;
    position: relative;
    top: -602px;
  }
  .event {
    display: inline;
    font-weight: bold;
    color: white;
  }
  .links {
    height: 100px;
    margin: 16px 70px 0 26px;
    display: flex;
  }
  .links a {
    text-decoration: none;
    margin-left: 70px;
    position: relative;
    left: 200px;
    color: white;
    z-index: 2;
    list-style: none;
  }
  .links li {
    list-style: none;
  }
  .nav {
    
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  
    /* background-color: #1b2196c3; */
    /* position: fixed; */
    z-index: 3;
  
  }
  .main {
    position: relative;
    left: 100px;
    z-index: 2;
  }
  .lgn {
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 30px;
  }
  .icon {
    font-size: 21px;
    padding-right: 8px;
    color: white;
  }
  .main span {
    color: white;
  }
  
  .titre {
    width: 360px;
    height: auto;
    z-index: 2;
    color: white;
    padding-top: 50px;

    position: relative;
    bottom: 1100px;
   
    margin-left: 53%;
    margin-top: 4%;
  }
  .titre h1 {
    font-family: sans-serif;
    font-weight: bold;
  }
  .titre p {
    font-family: sans-serif;
    font-size: 16px;
    padding: 38px 0 20px;
  }
  .titre button {
    padding: 13px 30px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
  }
  .get {
    background-color: #F5167E;
    border: none !important;
    border: 1px solid #F5167E;
  }
  .learn {
    background-color: transparent;
    margin-left: 20px;
  }
 /* ====end header=== */
    
  .main-div{
    width: 100%;
    height: 400px;
    background-color: black;
    font-family: sans-serif;
    color: white;
    display: flex;
    margin-top: -65%;
  }
  h2{
    margin-left: 48px;
   
  }

  .titre2{
   
    font-size: 50px;
    width: 50%;
    text-align: center;
    padding: 113px 0;
  }
  .div1{
    width: 50%;
    
  }
  .div1 p{
  
    width: 52%;
    font-size: 12px;
    text-align: center;
    margin: 24% auto;
    line-height: 23px;
  }
  /* ===end main== */
  /* ===section one==== */

  .section1{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 100px 0;

  }
  .section1 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

   /* ===end section one==== */

   /* ====section two==== */
   .section2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
   }
   .section2 .div2{
    width: 300px;
    height: 680px;
    background-color: black;
    
   }
   .div2 img{
    width: 300px;
    height: 200px;
   }
   .section2 p{
    width: 200px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    color: white;
    font-family: sans-serif;
    margin-top: 20px;
   }

   .section2 .circles{
    width: 220px;
    display: flex;
    justify-content: space-around;
    margin: 17px auto;
   }
   .section2 .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F5167E;
   }

   /* ====end section2=== */

   /* ============ fooooter========== */
footer {
  width: 100%;
  height: 400px;
  background-color: #0a075f;
  border: 1px solid black;
margin-top: 100px;
}
.fot {
  width: 90%;
  height: 300px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}
.one {
  width: 358px;
  height: 300px;

  color: white;
  font-family: sans-serif;
}
.one main {
  position: relative;
  left: 0;
}
.one-p {
  padding: 25px 0 20px 0;
}
.two {
  width: 150px;
  height: 300px;
}
h4 {
  font-family: sans-serif;
  color: white;
  padding-top: 10px;
}
.two-p {
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  padding-top: 21px;
  line-height: 22px;
  letter-spacing: 1px;
}
.tree {
  width: 150px;
}
.four {
  width: 378px;
}
label {
  position: relative;
}

label input {
  width: 100%;
  margin-top: 15px;
  border: 1px solid black;
  padding: 10px 10px;
  background-color: white;
  border-radius: 50px;
}

label button {
  /* padding: 10px 30px; */
  color: white;
  background-color: #f5167e;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  position: absolute;
  top: -7px;
  right: 5px;

  height: 30px;
  width: 140px;
}
.copy {
  color: white;
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
}
div .copy {
  margin-top: -45px;
}
.one img {
  margin-right: 10px;
}
/* ============ fooooter========== */