* {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
  }
  .header {
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background: url(img2/images\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    font-family: sans-serif;
  }
  
  .backclr {
    width: 100%;
    height: 600px;

    background-color: rgba(0, 0, 0, 0.584);
    opacity: 0.7;
    z-index: 1;
    position: relative;
    top: -602px;
  }
  .event {
    display: inline;
    font-weight: bold;
    color: white;
  }
  .links {
    height: 100px;
    margin: 16px 70px 0 26px;
    display: flex;
  }
  .links a {
    text-decoration: none;
    margin-left: 70px;
    position: relative;
    left: 200px;
    color: white;
    z-index: 2;
    list-style: none;
  }
  .links li {
    list-style: none;
  }
  .nav {
    
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  
    background-color: #7e1246c3;
    /* position: fixed; */
    z-index: 3;
  
  }
  .main {
    position: relative;
    left: 100px;
    z-index: 2;
  }
  .lgn {
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 30px;
  }
  .icon {
    font-size: 21px;
    padding-right: 8px;
    color: white;
  }
  .main span {
    color: white;
  }
  
  .titre {
    width: 360px;
    height: auto;
    z-index: 2;
    color: white;
    padding-top: 50px;

    position: relative;
    bottom: 1100px;
   
    margin-left: 53%;
    margin-top: 4%;
  }
  .titre h1 {
    font-family: sans-serif;
    font-weight: bold;
  }
  .titre p {
    font-family: sans-serif;
    font-size: 16px;
    padding: 38px 0 20px;
  }
  .titre button {
    padding: 13px 30px;
    border-radius: 30px;
    border: 1px solid white;
    color: white;
  }
  .get {
    background-color: #8B335D;
    border: none !important;
  }
  .learn {
    background-color: transparent;
    margin-left: 20px;
  }
  /* ============================= */
  .sect{
    width: 90%;
    height: 300px;
    display: flex;
    margin: -68% auto;
    font-family: sans-serif;
    
  }
  .sect div{
    width: 50%;
    height: 300px;
    margin: auto;
  }
  .sect img{
    width: 500px;
    margin: 0 20px ;
  }
  h2{
    padding: 30px 0;
    color: #258161;
    font-size: 30px;
  }
  .sect p{
    font-size: 13px;
    font-weight: bold;
  }
  .sect button{
    padding: 10px 30px;
    background-color: #D627DC;
    color: white;
    border: none;
    border-radius: 30px;
    margin: 30px 10px;
  }

  /* == end section== */
.main2{
    width: 100%;
    height: 211px;
    background-color: #8B335D;
    color: white;
    margin-top: 70%;
    font-family: sans-serif;
   
    
}
.main2 h3{
  text-align: center;
  padding: 30px 0;
}
.main2 p{
  width: 43%;
  margin: auto;
  text-align: center;
}
/* ===end main==== */
.images{
  width: 100%;
  padding-top: 30px;


}
.cele{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.cele1{
  width: 300px;
  font-family: sans-serif;
  margin: 20px auto;
  
}
.cele1 img{
  width: 250px;
  height: 331px;
  border-radius: 57%;
  border: 1px solid black;
 
}
.cele1 h5{

    font-weight: bold;
    width: 167px;

    text-align: center;

    padding: 16px 46px


}
.cele1 p{
  text-align: center;
  width: 62%;
  font-size: 13px;
  padding-left: 38px;
}

/* ==end div== */



/* ============ fooooter========== */
footer {
  width: 100%;
  height: 400px;
  background-color: #0a075f;
  border: 1px solid black;
margin-top: 100px;
}
.fot {
  width: 90%;
  height: 300px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}
.one {
  width: 358px;
  height: 300px;

  color: white;
  font-family: sans-serif;
}
.one main {
  position: relative;
  left: 0;
}
.one-p {
  padding: 25px 0 20px 0;
}
.two {
  width: 150px;
  height: 300px;
}
h4 {
  font-family: sans-serif;
  color: white;
  padding-top: 10px;
}
.two-p {
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  padding-top: 21px;
  line-height: 22px;
  letter-spacing: 1px;
}
.tree {
  width: 150px;
}
.four {
  width: 378px;
}
label {
  position: relative;
}

label input {
  width: 100%;
  margin-top: 15px;
  border: 1px solid black;
  padding: 10px 10px;
  background-color: white;
  border-radius: 50px;
}

label button {
  /* padding: 10px 30px; */
  color: white;
  background-color: #f5167e;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  position: absolute;
  top: -7px;
  right: 5px;

  height: 30px;
  width: 140px;
}
.copy {
  color: white;
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
}
div .copy {
  margin-top: -45px;
}
.one img {
  margin-right: 10px;
}
/* ============ fooooter========== */